body {
    background: linear-gradient(90deg, rgba(120, 255, 50, 0.6) 0%, rgba(50, 200, 220, 0.4) 59%, rgba(50, 255, 120, 0.6) 91%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    width: 70%;
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background-color: rgba(230, 230, 230, 1);
}
input {
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 10px;
    font-size: 2rem;
    padding: 2% 0 2% 0;
    max-width: 150px;
    text-align: center;
}
button:hover {
    background-color: rgb(30, 30, 30);
}   
button {
    background-color: rgb(40, 40, 40);
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 2% 6% 2% 6%;
    margin: 7% 0 0 0;
}
#photos{
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}
img { 
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
#mess {
    color: red;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 95%;
    }
    .container {
        min-width: 450px;
    }
    #photos {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 600px) {
    body {
        font-size: 100%;
    }

    .container {
        min-width: 475px;
    }

    #photos {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 105%;
    }

    .container {
        min-width: 625px;
    }

    #photos {
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width: 992px) {
    body {
        font-size: 110%;
    }

    .container {
        min-width: 700px;
    }

    #photos {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 1200px) {
    body {
        font-size: 120%;
    }

    .container {
        min-width: 800px;
    }

    #photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}