body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(90deg, rgba(120, 80, 120, 0.5), rgba(120, 120, 120, 0.5));
}
.container { 
  display: flex;
  flex-direction: column;
  margin: 8% auto;
  justify-content: center;
  border: 0;
  width: 35%;
  padding: 2% 2% 7% 2%; 
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(220, 220, 220, 0.8);
}
h1 {
    margin: 0 0 3% 0;
}
#result {
    /* color: rgba(38, 214, 62, 0.5); */
        font-size: 4rem;
}
button {
    border: 0;
    border-radius: 10px;
    font-size: 4rem;
    width: 70px;
    margin: 0 auto;
}
button:hover {
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
}
#bout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 4%;
    margin: 20% 0 5% 0;
}
.tool {
    background-color: rgba(45, 95, 204, 0.9);
}
.tool:hover {
    background-color: rgba(5, 50, 100, 0.9);
}
.warn {
    background-color: rgba(196, 26, 26, 0.9);
}
.warn:hover {
    background-color: rgba(139, 9, 9, 0.9);
}
#equal {
    background-color: rgba(38, 214, 62, 0.9);
}
#equal:hover {
    background-color: rgba(9, 114, 23, 0.9);
}
@media only screen and (max-width: 600px){
    .container {
        width: 65%;
    }
    button {
        font-size: 2rem;
        width: 50px;
    }
}
@media only screen and (min-width: 600px){
    .container {
        width: 60%;
    }
    button {
        font-size: 2rem;
        width: 52px;    
    }
}
@media only screen and (min-width: 768px){
    .container {
        width: 50%;
    }
}    
    button {
        font-size: 2.5rem;
        width: 54px;
    }
@media only screen and (min-width: 992px){
    .container {
        width: 40%;
    }
    button {
        font-size: 2.7rem;
        width: 57px;
    }
}
@media only screen and (min-width: 1200px){
    .container {
        width: 30%;
    }
        button {
        font-size: 3rem;
        width: 60px;
    }
}
