body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(90deg, rgba(132, 226, 100, 0.7), rgba(240, 190, 220, 0.8));
}
.container {
    background-color: rgba(230, 230, 230, 0.8);
    width: 30%;
    margin: 10% auto;
    border: 0;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#title {
    font-size: 3rem;
}
#time {
    font-size: 3rem;
}
.cont {
    background: linear-gradient(90deg, rgba(132, 226, 100, 0.7), rgba(240, 190, 220, 0.8));
    margin:  5% auto;
    width: 50%;
    border: 0;
    padding: 0;
    border-radius: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
button {
    font-size: 1.5rem;
    border-radius: 10px;
    border: 0;
    padding: 4%;
}
#command {
  display: flex;
  gap: 10%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#start {
  background-color: rgb(108, 187, 60);
  color: #fff;
}
#start:hover {
  background-color: rgb(80, 100, 40);
  color: #fff;
}
#stop {
  background-color: rgb(230, 10, 25);
  color: #fff;
}
#stop:hover {
  background-color: rgb(175, 1, 1);
  color: #fff;
}
#reset {
  background-color: rgb(150, 150, 150);
  color: #fff;
}
#reset:hover {
  background-color: rgb(120, 120, 120);
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .container {
    min-width: 450px;
  }
  #title {
    font-size: 2rem;
}
  button {
    font-size: 110%;
}
}
@media only screen and (min-width: 600px) {
  .container {
    min-width: 500px;
  }
  #title {
    font-size: 2rem;
  }
  button {
    font-size: 110%;
}
}
@media only screen and (min-width: 768px) {
  .container {
    min-width: 500px;
  }
  #title {
    font-size: 2rem;
}
  button {
    font-size: 150%;
}
}
@media only screen and (min-width: 992px) {
  .container {
    min-width: 500px;
  }
  #title {
    font-size: 3rem;
}
}
