body {
  background: linear-gradient(90deg, rgba(130, 211, 231, 0.7), rgba(220, 220, 220, 0.8));
  font-family: fantasy;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 8% auto;
  align-items: center;
  border: 0;
  width: 35%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(255, 255, 255, 0.8);
}
#title {
  margin: 0;
  font-size: 2.8rem;
}
#time {
    font-size: 4rem;
    color: white;
    margin: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    background: linear-gradient(90deg, rgba(130, 211, 231, 0.7), rgba(220, 220, 220, 0.8));
    border-radius: 10px;
    margin: 5%;
}
#command {
  display: flex;
  gap: 10%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 110%;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  padding: 5% 15% 5% 15%;
  margin: 8%;
}
#start {
  background-color: rgb(108, 187, 60);
  color: #fff;
}
#start:hover {
  background-color: rgb(80, 100, 40);
  color: #fff;
}
#stop {
  background-color: rgb(230, 10, 25);
  color: #fff;
}
#stop:hover {
  background-color: rgb(180, 0, 42);
  color: #fff;
}
#reset {
  background-color: rgb(150, 150, 150);
  color: #fff;
}
#reset:hover {
  background-color: rgb(120, 120, 120);
  color: #fff;
}
p {
  font-size: 500%;
}
#mess {
  color: red;
  font-size: 100%;
}
@media only screen and (max-width: 600px) {
  .container {
    min-width: 400px;
  }
  button {
    font-size: 90%;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    min-width: 450px;
  }
  button {
    font-size: 95%;
  }
}
@media only screen and (min-width: 600px) {
  .container {
    min-width: 450px;
  }
  button {
    font-size: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    min-width: 500px;
  }
  button {
    font-size: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    min-width: 500px;
  }
}